.tick {
    font-size: 2.9rem;
    white-space: nowrap;
    line-height: 0.8;
    padding-bottom: 1em;
}

.tick-flip,
.tick-text-inline {
    font-size: 10em;
    font-weight: 900;
}

.tick-label {
    margin-top: 0.5em;
    font-size: 1em;
}

.tick-char {
    width: 1.5em;
}

.tick-text-inline {
    display: inline-block;
    text-align: center;
    min-width: 0.3em;
    min-height: 0em;
}

.tick-text-inline+.tick-text-inline {
    margin-left: -.325em;
}

.tick-group {
    margin: 0 .5em;
    text-align: center;
}

body {
    background-color: #000000;
}

.tick-text-inline {
    color: #fff;
}

.tick-label {
    color: #fff;
}

.tick-flip-panel {
    color: #fff;
}

.tick-flip {
    margin-left: 0em;
    margin-right: 0em;
    min-width: 0em;
    letter-spacing: 0em;
    text-indent: 0em;
}

.tick-flip-panel-text-wrapper {
    line-height: 0.85;
}

.tick-flip-panel {
    background-color: #ff0000;
}

.tick-flip {
    border-radius: 0.12em;
}
